.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__title {
  font-size: 6rem;
}

.not-found__title span {
  color: #4481c3;
}

.not-found__subtitle,
.not-found__link {
  font-size: 3rem;
}

.not-found__link {
  text-decoration: underline;
  text-decoration-color: #4481c3;
  text-underline-offset: 10px;
}